### WARM UP 1

##### 1

In [22]:
def sleep_in(weekday, vacation):
    return weekday == False or vacation

In [23]:
sleep_in(False, False)

True

In [24]:
sleep_in(True, False)

False

##### 2

In [11]:
def monkey_trouble(a_smile, b_smile):
    return a_smile == b_smile

In [12]:
monkey_trouble(False, False)

True

##### 3

In [17]:
def sum_double(a, b):
    if a==b:
        return sum((a,b)*2)
    else:
        return sum((a,b))

In [19]:
sum_double(2, 2)

8

##### 4

In [20]:
def diff21(n):
    if n>21:
        return(abs(n-21)*2)
    else:
        return abs(n-21)

In [21]:
diff21(21)

0

##### 5

In [32]:
def parrot_trouble(talking, hour):
    return talking and (20<hour or 7>hour)

In [33]:
parrot_trouble(True,6)

True

In [34]:
parrot_trouble(True,7)

False

In [35]:
parrot_trouble(False, 6)

False

In [36]:
parrot_trouble(True, 23)

True

##### 6

In [37]:
def makes10(a, b):
    return a==10 or b==10 or (a+b)==10

In [38]:
makes10(8, 2)

True

##### 7

In [39]:
def near_hundred(n):
    return abs(n-100)<=10 or abs(n-200)<=10

In [40]:
near_hundred(121)

False

In [41]:
near_hundred(190)

True

##### 8

In [42]:
def pos_neg(a, b, negative):
    if negative:
        return a<0 and b<0
    else:
        return (a<0 and b>0) or (a>0 and b<0)

In [43]:
pos_neg(-4, -5, False)

False

##### 9

In [44]:
def not_string(str):
    if str[:3]=='not':
        return str
    else:
        return 'not '+str

In [45]:
not_string('no')

'not no'

##### 10

In [47]:
def missing_char(str, n):
    st = str[:n]+str[(n+1):]
    return st

In [48]:
missing_char('kitten', 4)

'kittn'

##### 11

In [53]:
def front_back(str):
    if len(str)>=2:
        st = str[-1]+str[1:-1]+str[0]
        return st
    else:
        return str

In [54]:
front_back('a')

'a'

In [55]:
front_back('Chocolate')

'ehocolatC'

##### 12

In [56]:
def front3(str):
    return str[:3]*3

In [57]:
front3('Java')

'JavJavJav'

In [58]:
front3('Chocolate')

'ChoChoCho'

In [59]:
front3('C')

'CCC'

____

____

### WARM UP 2

##### 1

In [62]:
def string_times(str, n):
    return str*n

In [63]:
string_times('Hi', 3)

'HiHiHi'

##### 2

In [64]:
def front_times(str, n):
    return str[:3]*n

In [65]:
front_times('Chocolate', 3)

'ChoChoCho'

##### 3

In [66]:
def string_bits(str):
    return str[::2]

In [67]:
string_bits('Heeololeo')

'Hello'

##### 4

In [68]:
def string_splosion(str):
    st = ""
    for i in range(1,(len(str)+1)):
        st += str[:i]
    return st

In [69]:
string_splosion('Code')

'CCoCodCode'

##### 5

In [81]:
def last2(str):
    count = 0
    for i in range(len(str)-2):
        if (str[i:i+2]) == str[-2:]:
            count += 1
    return count

In [82]:
last2('hixxhi')

1

In [83]:
last2('1717171')

2

##### 6

In [85]:
def array_count9(nums):
    count = 0
    for n in range(len(nums)):
        if nums[n]==9:
            count += 1
    return count

In [86]:
array_count9([1, 9, 9, 3, 9])

3

##### 7

In [2]:
def array_front9(nums):
    for i in range(min(len(nums),4)): 
        if nums[i] == 9:
            return True
    return False

In [3]:
array_front9([1, 2, 3, 4, 9])

False

In [4]:
array_front9([1, 2, 9, 3, 4])

True

##### 8

In [143]:
def string_match(a, b):
    
    n = min(len(a),len(b))
    count = 0
    for i in range(n-1):
        sub_string_a = a[i:i+2]
        sub_string_b = b[i:i+2]
        if sub_string_a == sub_string_b:
            count += 1
    return count

___

___

### STRING 1

##### 1

In [7]:
def hello_name(name):
    return ('Hello '+name+'!')

In [8]:
hello_name('Alice')

'Hello Alice!'

##### 2

In [11]:
def make_abba(a, b):
    st = (a+b+b+a)
    return st

In [12]:
make_abba('Yo', 'Alice')

'YoAliceAliceYo'

##### 3

In [19]:
def make_tags(tag, word):
    st = ('<'+tag+'>'+word+'</'+tag+'>')
    return st

In [20]:
make_tags('i', 'Hello')

'<i>Hello</i>'

##### 4

In [22]:
def make_out_word(out, word):
    st = out[:2]+word+out[2:]
    return st

In [23]:
make_out_word('<<>>', 'Yay')

'<<Yay>>'

##### 5

In [24]:
def extra_end(str):
      return (str[-2:]*3)

In [25]:
extra_end('Hello')

'lololo'

##### 6

In [26]:
def first_two(str):
    return str[:2]

In [29]:
first_two('abcdefg')

'ab'

##### 7

In [40]:
def first_half(str):
    return str[:(len(str)//2)]

In [41]:
first_half('HelloThere')

'Hello'

##### 8

In [46]:
def without_end(str):
    return str[1:-1]

In [47]:
without_end('coding')

'odin'

##### 9

In [48]:
def combo_string(a, b):
    if len(b)>len(a):
        st = a+b+a
    else:
        st = b+a+b
    return(st)

In [49]:
combo_string('hi', 'Hello')

'hiHellohi'

In [50]:
combo_string('Hello', 'hi')

'hiHellohi'

##### 10

In [51]:
def non_start(a, b):
    st = a[1:]+b[1:]
    return st

In [53]:
non_start('H', 'There')

'here'

##### 11

In [56]:
def left2(str):
    st = str[2:]+str[:2]
    return st

In [57]:
left2('Hi')

'Hi'

___

___

### LIST 1

##### 1

In [61]:
def first_last6(nums):
    return nums[0] == 6 or nums[-1] == 6

In [62]:
first_last6([6, 1, 2, 3])

True

In [63]:
first_last6([1, 2, 6])

True

##### 2

In [64]:
def same_first_last(nums):
    return len(nums)>=1 and nums[0]==nums[-1]

In [65]:
same_first_last([1, 2, 3, 1])

True

In [66]:
same_first_last([1, 2, 3])

False

##### 3

In [68]:
def make_pi():
    pi = (3,1,4)
    return list(pi)

In [69]:
make_pi()

[3, 1, 4]

##### 4

In [70]:
def common_end(a, b):
    return a[0]==b[0] or a[-1]==b[-1]

In [71]:
common_end([1, 2, 3], [7, 3, 2])

False

##### 5

In [72]:
def sum3(nums):
    return sum(nums)

In [73]:
sum3([5, 11, 2])

18

##### 6

In [86]:
def rotate_left3(nums):
    new_list = nums[1:]
    new_list.append(nums[0])
    return new_list

In [87]:
rotate_left3([5, 11, 9])

[11, 9, 5]

##### 7

In [88]:
def reverse3(nums):
    return nums[::-1]

In [89]:
reverse3([5, 11, 9])

[9, 11, 5]

##### 8

In [96]:
def max_end3(nums):
    lst = []
    lst.append(max(nums[0],nums[-1]))
    return lst*3

In [97]:
max_end3([11, 5, 9])

[11, 11, 11]

##### 9

In [98]:
def sum2(nums):
    if len(nums)<2:
        return sum(nums)
    else:
        return sum(nums[:2])

In [99]:
sum2([1, 2, 3])

3

In [101]:
sum2([4])

4

##### 10

In [102]:
def middle_way(a, b):
    lst = []
    lst.append(a[1])
    lst.append(b[1])
    return lst

In [103]:
middle_way([7, 7, 7], [3, 8, 0])

[7, 8]

##### 11

In [113]:
def make_ends(nums):
    st = []
    st.extend([nums[0],nums[-1]])
    return st

In [114]:
make_ends([1, 2, 3, 4])

[1, 4]

##### 12

In [122]:
def has23(nums):
    return (2 in nums or 3 in nums)

In [123]:
has23([2, 4])

True

In [128]:
has23([4, 5])

False

___

___

### LOGIC 1

##### 1

In [133]:
def cigar_party(cigars, is_weekend):
    if not is_weekend:
        return 40<=cigars<=60
    else:
        return cigars>=40

In [134]:
cigar_party(30, False)

False

In [135]:
cigar_party(50, False)

True

In [136]:
cigar_party(70, True)

True

##### 2

In [147]:
def date_fashion(you, date):
    if you <= 2 or date <= 2:
        return 0
    elif you>=8 or date >= 8:
        return 2
    else:
        return 1

In [148]:
date_fashion(5, 2)

0

##### 3

In [151]:
def squirrel_play(temp, is_summer):
    if is_summer:
        return 60<=temp<=100
    else:
        return 60<=temp<=90

In [152]:
squirrel_play(70, False)

True

In [153]:
squirrel_play(95, False)

False

##### 4

In [157]:
def caught_speeding(speed, is_birthday):
    if not is_birthday:
        if speed<=60:
            retufrn 0
        elif 60<speed<=80:
            return 1
        else:
            return 2
    else:
        if speed<=65:
            return 0
        elif 65<speed<=85:
            return 1
        else:
            return 2

In [158]:
caught_speeding(60, False)

0

In [160]:
caught_speeding(65, False)

1

In [161]:
#alternate code from github

def caught_speeding(speed, is_birthday):
    speeding = speed - (65 if is_birthday else 60)
    if speeding > 20:
        return 2
    elif speeding > 0:
        return 1
    else:
        return 0

In [163]:
caught_speeding(65, True)

0

##### 5

In [164]:
def sorta_sum(a, b):
    if sum((a,b)) in range (10,20):
        return 20
    else:
        return sum((a,b))

In [165]:
sorta_sum(9, 4)

20

In [166]:
sorta_sum(3, 4)

7

In [167]:
sorta_sum(10, 11)

21

##### 6

In [168]:
def alarm_clock(day, vacation):
    if vacation:
        if day in (0,6):
            return 'off'
        else:
            return '10:00'
    else:
        if day in (0,6):
            return '10:00'
        else:
            return '7:00'

In [169]:
alarm_clock(1, False)

'7:00'

In [170]:
alarm_clock(5, False)

'7:00'

In [171]:
alarm_clock(0, False)

'10:00'

In [173]:
#alternative code on github

def alarm_clock(day, vacation):
    week_preset = "7:00" if not vacation else "10:00"
    weekend_preset = "10:00" if not vacation else "off"
    return week_preset if day not in [6,0] else weekend_preset

In [175]:
alarm_clock(5, False)

'7:00'

##### 7

In [176]:
def love6(a, b):
    return a == 6 or b == 6 or (a+b) == 6 or abs(a-b) == 6

In [177]:
love6(6, 4)

True

In [179]:
love6(5, 4)

False

In [181]:
love6(1, 5)

True

##### 8

In [192]:
def in1to10(n, outside_mode):
    if outside_mode:
        return n>=10 or n<=1
    else:
        return n in range(1,11)

In [193]:
in1to10(5, False)

True

In [194]:
in1to10(11, False)

False

In [195]:
in1to10(11, True)

True

##### 9

In [204]:
def near_ten(num):
    return abs(num%10-10) in [0,1,2,8,9,10]

In [205]:
near_ten(12)

True

___

___

### LOGIC 2

##### 1

In [9]:
def make_bricks(small, big, goal):
#     minvalue = min(big,goal//5)
    goal -= 5*min(big,goal//5)
#     diff = goal-small
    return (goal-small <= 0)

In [10]:
make_bricks(3, 1, 8)

True

In [11]:
make_bricks(3, 2, 9)

False

In [12]:
make_bricks(3, 1, 9)

False

##### 2

In [231]:
def lone_sum(a, b, c):
    if a==b==c:
        a,b,c = 0,0,0
    elif a==b:
        a,b = 0,0
    elif b==c:
        b,c = 0,0
    elif c==a:
        a,c = 0,0
    return sum((a,b,c))

In [232]:
lone_sum(1, 2, 3)

6

In [233]:
lone_sum(3, 2, 3)

2

In [234]:
lone_sum(3, 3, 3)

0

##### 3

In [246]:
def lucky_sum(a, b, c):
    if a == 13:
        a,b,c = 0,0,0
    elif b == 13:
        b,c = 0,0
    elif c == 13:
        c = 0
    return sum((a,b,c))

In [247]:
lucky_sum(5, 1, 3)

9

##### 4

In [263]:
def no_teen_sum(a, b, c):
    teen = list(range(13,20))
    teen.remove(15)
    teen.remove(16)
    if a in teen:
        a=0
    if b in teen:
        b=0
    if c in teen:
        c=0
    return sum((a,b,c))

In [268]:
no_teen_sum(1, 2, 3)

6

In [269]:
no_teen_sum(2, 13, 1)

3

In [270]:
no_teen_sum(2, 13, 1)

3

In [267]:
#alternate code in github

def no_teen_sum(a, b, c):
    def fix_teen(n):
        return n if n not in [13,14,17,18,19] else 0

    return fix_teen(a)+fix_teen(b)+fix_teen(c)

##### 5

In [276]:
def round_sum(a, b, c):
    def round10(n):
        if n%10<5:
            return (n//10)*10
        else:
            return ((n//10)+1)*10
    return(round10(a)+round10(b)+round10(c))

In [277]:
round_sum(16, 17, 18)

60

In [285]:
#alternate method on github

def round_sum1(a, b, c):
    def round101(num):
        return (num+5)//10*10

    return round101(a)+round101(b)+round101(c)

In [286]:
round_sum1(16, 17, 18)

60

##### 6

In [338]:
def close_far(a, b, c):
    return (abs(a-b)<=1 and abs(a-c)>=2 or abs(a-c)<=1 and abs(a-b)>=2) and abs(b-c)>=2

In [339]:
close_far(1, 2, 10)

1
9
8

True

In [340]:
close_far(1, 2, 3)

1
2
1

False

In [341]:
close_far(4, 1, 3)

3
1
2

True

##### 7

In [369]:
def make_chocolate(small, big, goal):
    big_bar =(min(big,goal//5)*5)
    small_bar = goal-big_bar
    if small+big_bar>=goal:
        return small_bar
    else:
        return -1

In [368]:
make_chocolate(3, 1, 9)

-1

In [370]:
make_chocolate(4, 1, 7)

2

In [371]:
make_chocolate(6, 1, 10)

5

___

___

### STRING 2

##### 1

In [372]:
def double_char(str):
    st = ""
    for char in str:
        st += char*2
    return st

In [373]:
double_char('Hi-There')

'HHii--TThheerree'

##### 2

In [386]:
def count_hi(str):
    count = 0
    for i in range(len(str)-1):
        if str[i:i+2] == 'hi':
            count += 1
    return count

In [387]:
count_hi('hihi')

2

##### 3

In [389]:
def cat_dog(str):
    cat_count = 0
    dog_count = 0
    for i in range(len(str)-2):
        if str[i:i+3] == 'cat':
            cat_count += 1
        if str[i:i+3] == 'dog':
            dog_count += 1
    return cat_count == dog_count

In [390]:
cat_dog('catdog')

True

In [391]:
cat_dog('catcat')

False

In [392]:
cat_dog('1cat1cadodog')

True

In [393]:
#Alternative method without loop

def cat_dog1(str):
    return str.count('cat') == str.count('dog')

In [396]:
cat_dog1('catdog')

True

##### 4

In [401]:
def count_code(str):
    count = 0
    for i in range(len(str)-3):
        if str[i:i+2] == 'co' and str[i+3] == 'e':
            count += 1
    return count

In [402]:
count_code('aaacodebbb')

1

In [403]:
count_code('codexxcode')

2

In [404]:
count_code('cozexxcope')

2

##### 5

In [408]:
def end_other(a, b):
    short_string = min(len(a),len(b))
    return a[-short_string:].lower() == b[-short_string:].lower()

In [409]:
end_other('Hiabc', 'abc')

True

In [410]:
end_other('abc', 'abXabc')

True

##### 6

In [442]:
#not correct
def xyz_there(str):
    for i in range(len(str)):
        if str[i] == '.' and str[i+1:i+4] == 'xyz':
            return False
        if str[i:i+3] == 'xyz':
            return True
    return False

In [443]:
xyz_there('abcxyz')

True

In [447]:
xyz_there('abc.xyzxyz')

False

In [445]:
#from github

def xyz_there1(str):
    i=0
    while "xyz" in str[i:]:
        if str[i-1+str[i:].index("xyz")] != ".":
            return True
        i += str[i:].index("xyz")+2
    return False

In [446]:
xyz_there1('abc.xyzxyz')

True

In [448]:
def xyz_there2(str):
    i=0
    while "xyz" in str[i:]:
        x = str[i:].index("xyz")
        if str[i-1+x] != ".":
            return True
        i += x+2
    return False

In [449]:
xyz_there2('abc.xyzxyz')

True

In [458]:
def xyz_there4(str):
    i = 0
    while 'xyz' in str[i:]:
        if str[i-1+str[i:].index('xyz')]!='.':
            return True
        i+=str[i:].index('xyz')+2
    return False

In [461]:
xyz_there4('abcxyz.xyz')

True

---

---

### LIST 2

##### 1

In [462]:
def count_evens(nums):
    count = 0
    for n in nums:
        if n%2 == 0:
            count += 1
    return count

In [463]:
count_evens([2, 1, 2, 3, 4])

3

In [464]:
count_evens([1, 3, 5])

0

##### 2

In [466]:
def big_diff(nums):
    return max(nums) - min(nums)

In [467]:
big_diff([10, 3, 5, 6])

7

##### 3

In [470]:
def centered_average(nums):
    nums.remove(max(nums))
    nums.remove(min(nums))
    return sum(nums)//len(nums)

In [471]:
centered_average([1, 2, 3, 4, 100])

3

In [472]:
centered_average([1, 1, 5, 5, 10, 8, 7])

5

##### 4

In [1]:
def sum13(nums):
    i = 0
    lst = []
    while i<len(nums):
        if nums[i] == 13:
            pass
        else:
            lst.append(nums[i])
        i += 1
    return (lst)

In [2]:
sum13([1, 1])

[1, 1]

In [3]:
sum13([13, 1, 2, 13, 2, 1, 13])

[1, 2, 2, 1]

In [4]:
def sum13(nums):
    if nums[0] != 13:
        lst = [nums[0]]
    else:
        lst = []
    for i in range(1,len(nums)):
        if nums[i] == 13 or nums[i-1] == 13:
            pass
            
        else:
            lst.append(nums[i])
    return sum(lst)

In [5]:
sum13([1, 2, 2, 1, 13])

6

In [6]:
sum13([1, 2, 13, 2, 1, 13])

4

In [7]:
sum13([13, 1, 2, 13, 2, 1, 13])

3

##### 6

In [49]:
def has22(nums):
    for i in range(len(nums)-1):
        if nums[i:i+2] == [2,2]:
            return True
            break
    else:
        return False

In [50]:
has22([1, 3, 2, 2])

True

In [52]:
has22([4, 2, 4, 2, 5])

False